<div class="row">
    <% products.forEach(function (p, index) { %>
    <div class="col-md-4">
        <div class="thumbnail">
            <p disabled="false" id="product_id"><%=p.id%></p>
            <a href="/show/<%=p.id%>" id="js_show2">
                <img src="<%= p.image%>">
            </a>
            <div class="caption">
                <p>
                    昵称: <%=p.nickname %>
                </p>
                <p>
                    年龄: <%=p.age%>
                </p>
                <p>
                    手机号: <%=p.mobile%>
                </p>
                <p>
                    <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                </p>
            </div>
        </div>
    </div>
    <% }) %>
</div>

